@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.buttons {

}
.button {
  
 &__save {

 }
}

.ideator {

}

.editor {

}

.footer {

}

.form {

  &__area {

  }
  &__input {

  }
  &__label {

  }
}

.header {

  &__title {

  }
  &__subtitle {

  }
}


.icons {

  &__bold {

  }

  &__italic {

  }
}



  


